.aboutDesc {
  &__container {
    padding: 72px 76px;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 46px;
  }

  &__title {
    font-weight: 900;
    font-size: clamp(32px, 5vw, 48px);
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--black-lighter);
  }

  &__text {
    grid-column: 2/4;
    font-weight: 400;
    font-size: clamp(16px, 5vw, 20px);
    line-height: clamp(162%, 5vw, 170%);
    letter-spacing: 0.01em;
    color: var(--grey---700);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 24px;
    gap: 24px;

    &-item {
    font-size: clamp(18px, 5vw, 20px);
    line-height: clamp(160%, 5vw, 170%);
    letter-spacing: 0.01em;
    color: var(--grey---700);

    :first-child {
      margin-bottom: 12px;
      font-weight: 600;
      line-height: 150%;
      color: var(--secondary---500);
    }
    }
  }
}

@include big-tablet {
  .aboutDesc {
    &__container {
      padding: 42px 16px;
    }

    &__top {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &__grid {
      display: flex;
      flex-direction: column;
    }
  }
}
