.aboutHero {
  &__container {
    padding: 62px 76px 55px;
  }

  &__top {
    display: flex;
  }

  &__title {
    max-width: 788px;
    font-weight: 500;
    font-size: clamp(24px, 5vw, 32px);
    line-height: 140%;
    text-transform: uppercase;
    color: var(--secondary---500);

    h1 {
      margin-top: 10px;
      font-weight: 900;
      font-size: clamp(48px, 5vw, 64px);
      line-height: 120%;
      letter-spacing: -0.03em;
      color: var(--black-lighter);
    }
  }

  &__desc {
    font-weight: 400;
    font-size: clamp(16px, 4vw, 20px);
    line-height: 170%;
    letter-spacing: 0.01em;
    color: var(--grey---700);
  }

  &__video {
    margin-bottom: 15px;
    border-radius: 16px;
    max-width: 528px;
    max-height: 352px;
    background-image: url("../../img/aboutHero.png");
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
  }

  &__grid {
    display: grid;
    grid-template-columns: 330px repeat(2, 1fr);
    margin-top: 91px;
    gap: 29px 22px;
  }

  &__grid-item {
    display: flex;
    align-items: center;
    max-width: 455px;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--grey---700);
    gap: 24px;

    &:nth-child(1) {
      grid-column: 2;
      text-wrap: nowrap;
    }

    &:nth-child(2) {
      grid-column: 3;
    }

    &:nth-child(3) {
      grid-column: 2;
    }
  }

  &__grid-num {
    font-weight: 700;
    font-size: clamp(60px, 7vw, 96px);
    color: var(--secondary---500);
  }
}

@include big-tablet {
  .aboutHero {
    &__container {
      padding: 26px 16px 36px;
    }

    &__top {
      flex-direction: column;
      gap: 24px;
    }

    &__title {
      h1 {
        margin-top: 27px;
        line-height: 121%;
      }
    }

    &__br {
      display: none;
    }

    &__video {
      margin-bottom: 21px;
    }

    &__desc {
      line-height: 164%;
    }

    &__grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      margin-left: 26px;
    }

    &__grid-item {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      text-align: start;

      &:nth-child(2) {
        order: 1;
      }
    }
  }
}
