.blogSmall {
  &__container {
    padding-bottom: 85px;
    max-width: 628px;
  }

  &__img {
    max-height: 572px;

    img {
      border-radius: 24px;
      max-height: 572px;
    }
  }

  &__text {
    position: relative;
    margin-top: clamp(24px, 4vw, 38px);

    div {
      display: flex;
      flex-direction: column;
      max-width: 902px;
      gap: 16px;
    }
  }

  &__title {
    font-weight: 900;
    font-size: clamp(16px, 4vw, 38px);
    letter-spacing: clamp(-0.01em, 4vw, -0.02em);
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: var(--black-lighter);
    transition: all 0.3s ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }

  &__desc {
    display: -webkit-box;
    overflow: hidden;
    font-weight: 400;
    font-size: clamp(16px, 4vw, 24px);
    line-height: clamp(160%, 4vw, 162%);
    color: var(--grey---700);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &__cat {
    display: none;
    font-weight: 700;
    font-size: clamp(12px, 3vw, 20px);
    line-height: 150%;
    color: var(--grey---700);
    text-wrap: nowrap;
  }
}

@include big-tablet {
  .blogSmall {
    &__container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      padding-bottom: 0;
      max-width: none;
      max-height: 343px;
      gap: 30px;
    }

    &__desc {
      display: none;
    }

    &__title {
      line-height: 180%;
    }

    &__img {
      img {
        margin-top: 21px;
        border-radius: 16px;
        width: 100%;
        min-width: 80px;
        max-width: 350px;
        max-height: none;
        object-fit: cover;
        aspect-ratio: 16 / 9;
      }
    }

    &__cat {
      display: block;
    }

    &__text {
      min-width: 241px;

      div {
        gap: 10px;
      }
    }
  }
}

@include small-tablet {
  .blogSmall {
    &__container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      padding-bottom: 0;
      max-height: 343px;
      gap: 15px;
    }

    &__desc {
      display: none;
    }

    &__title {
      line-height: 180%;
    }

    &__img {
      img {
        margin-top: 21px;
        border-radius: 16px;
        width: 100%;

        // height: 100%;
        min-width: 90px;
        max-height: 80px;
        object-fit: cover;
        aspect-ratio: 1 / 1;
      }
    }

    &__cat {
      display: block;
    }

    &__text {
      min-width: 241px;

      div {
        gap: 10px;
      }
    }
  }
}
