.blogHero {
  &__container {
    display: flex;
    flex-direction: row;
    padding: 42px 76px;

    // justify-content: space-between;
    gap: 620px;
  }

  h1 {
    font-weight: 900;
    font-size: clamp(48px, 4vw, 96px);
    letter-spacing: clamp(-0.02em, 4vw, -0.03em);
    text-transform: uppercase;
    color: var(--black-lighter);
  }

  &__text {
    font-weight: 400;
    font-size: clamp(16px, 4vw, 20px);
    line-height: clamp(162%, 4vw, 170%);
    letter-spacing: 0.01em;
    color: var(--grey---700);
  }
}

@include big-tablet {
  .blogHero {
    &__container {
      flex-direction: column;
      padding: 24px 16px 20px;
      gap: 15px;
    }

    &__text {
      margin-top: 12px;
    }
  }
}
