.detailsDesc {
  &__container {
    padding: 66px 76px 72px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }

  &__title {
    font-weight: 900;
    font-size: clamp(32px, 4vw, 48px);
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--black-lighter);
    text-wrap: nowrap;
  }

  &__text {
    max-width: 765px;
    font-weight: 400;
    font-size: clamp(16px, 4vw, 20px);
    line-height: clamp(162%, 4vw, 170%);
    letter-spacing: 0.01em;
    color: var(--grey---700);
  }

  &__bottom {
    display: flex;
    margin-top: 46px;
    gap: 140px;
  }

  &__items {
    display: flex;
    gap: 24px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__sub {
    font-weight: 600;
    font-size: clamp(18px, 4vw, 20px);
    line-height: 150%;
    letter-spacing: 0.01em;
    color: var(--secondary---500);
  }

  &__grid {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    padding: 144px 0 0;
    gap: 24px;

    div {
      display: flex;
      flex-direction: row;
      gap: 24px
    }

    img {
      border-radius: 24px;
      height: 100%;
      max-height: 510px;
      object-fit: cover;

      // &:nth-child(2),
      // &:nth-child(3) {
      //   max-width: 510px;
      // }
    }
  }
}

@include big-tablet {
  .detailsDesc {
    &__container {
      padding: 0 16px 42px;
    }

    &__bottom {
      flex-direction: column;
      margin-top: 25px;
      padding-bottom: 36px;
      gap: 24px;
    }

    &__items {
      flex-direction: column;
      gap: 26px;
    }

    &__item {
      gap: 12px;
    }

    &__sub {
      letter-spacing: normal;
    }

    &__grid {
      padding-top: 44px;
      gap: 16px;

      div {
        flex-direction: column;
        gap: 17px;
      }

      img {
        border-radius: 16px;
      }
    }
  }
}

