.detailsWorks {
  &__container {
    padding: 72px 76px 92px;
  }

  &__title {
    margin-bottom: 50px;
    font-weight: 900;
    font-size: clamp(32px, 4vw, 96px);
    letter-spacing: clamp(-0.02em, 4vw, -0.03em);
    text-transform: uppercase;
    color: var(--b&w-black-lighter);
  }
}

@include big-tablet {
  .detailsWorks {
    &__container {
      padding: 94px 16px 50px;
    }

    &__title {
      margin-bottom: 24px;
    }
  }
}
