.featuredWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 46px;

  &__container {
    overflow: hidden;
    margin: 0 87px;
    padding: 0 76px;
    padding-bottom: 64px;
    width: 100%;
    max-width: 1440px;
  }

  &__view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: clamp(16px, 4vw, 26px);
    line-height: 162%;
    text-transform: none;
    color: var(--primary---500);
    gap: 8px;

    // flex: 1;
  }

  &__title {
    display: flex;
    align-items: center;
    margin: clamp(20px,5vw,72px) 0 clamp(38px, 5vw, 50px);
    max-width: 1440px;
    font-weight: 900;
    font-size: clamp(32px, 7vw, 96px);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--black-lighter);

    p {
      flex: 1;
    }
  }

  &__swiper {
    padding-bottom: 50px;
    padding-bottom: clamp(70px, 5vw, 50px);

    .swiper-scrollbar {
      bottom: clamp(21px, 5vw, -17px);
    }
  }
}

// .swiper {
//   overflow: visible;
//   overflow: hidden;
// }

// .swiper-container {
//   position: relative;
// }

// .swiper-scrollbar {
//   position: absolute;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   border: 1px dashed var(--grey---700);
//   border-radius: 3px;
//   width: 6px;
//   max-height: 1px;
//   background-color: #ccc;
//   opacity: 0.5;
//   transition: opacity 0.3s ease;
// }

// .swiper-scrollbar-drag {
//   position: absolute;
//   top: -18px;
//   overflow: visible;
//   border: 1px solid var(--grey---500);
//   border-radius: 200px;
//   padding: 8px 16px;
//   width: 100%;
//   height: clamp(33px, 5vw, 40px);
//   min-width: 64px;
//   max-width: 80px;
//   background-color: var(--white);

//   &::after,
//   &::before {
//     content: '';
//     position: absolute;
//     left: 17px;
//     top: 7px;
//     width: clamp(16px, 5vw, 24px);
//     height: clamp(16px, 5vw, 24px);
//     background-image: url("../img/swiper_arrow.svg");
//     background-size: contain;
//     background-repeat: no-repeat;
//   }

//   &::after {
//     left: auto;
//     right: 17px;
//     top: 7px;
//     transform: rotate(180deg);
//   }
// }

// .swiper-scrollbar-hidden {
//   opacity: 0;
// }

.swiper {
  overflow: visible;
  overflow: hidden;
}

.swiper-container {
  position: relative;
}

.swiper-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px dashed var(--grey---700);
  border-radius: 3px;
  width: 6px;
  max-height: 1px;
  background-color: #ccc;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.swiper-scrollbar-drag {
  position: absolute;
  top: -18px;
  overflow: visible;
  border: 1px solid var(--grey---500);
  border-radius: 200px;
  padding: 8px 16px;
  height: clamp(33px, 5vw, 40px);
  min-width: 64px;
  white-space: nowrap;
  background-color: var(--white);
}

.swiper-scrollbar-drag::after,
.swiper-scrollbar-drag::before {
  content: '';
  position: absolute;
  top: clamp(5px, 1vw, 7px);
  width: clamp(16px, 5vw, 24px);
  height: clamp(16px, 5vw, 24px);
  background-image: url("../img/swiper_arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-scrollbar-drag::before {
  left: 17px;
}

.swiper-scrollbar-drag::after {
  right: 17px;
  transform: rotate(180deg);
}

.swiper-scrollbar-hidden {
  opacity: 0;
}



@include big-tablet {
  .featuredWorks {
    &__container {
      margin: 0;
      padding: 16px;
    }

    &__title {
      span {
        display: none;
      }
    }

    &__view {
      flex: 1;
      text-align: end;
    }

    .swiper-scrollbar-drag {
      &::after,
      &::before {
        left: 14px;
        top: 4px;
      }

      &::after {
        left: auto;
        right: 14px;
      }

    }
  }
}

