.featuredCard {
  width: 100%;
  min-width: 269px;
  max-width: 548px;

  &__container {
    margin-top: 24px;
  }

  &__title {
    margin-top: 0;
    font-weight: 900;
    font-size: clamp(32px, 5vw, 48px);
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--black-lighter);
  }

  &__text {
    margin-top: 16px;
    font-weight: 700;
    font-size: clamp(14px, 5vw, 20px);
    line-height: 150%;
    color: var(--grey---700);

  }
}
