.footer {
  display: flex;
  justify-content: center;
  padding-top: 72px;
  width: 100%;
  color: var(--white);
  background-color: var(--black-lighter);

  &__container {
    margin: auto 60px;
    width: 100%;
    max-width: 1318px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    text-transform: uppercase;
    color: var(--b&w-white);
  }

  &__logo {
    font-family: var(--second-family);
    font-size: 15px;
    text-transform: uppercase;
  }

  &__top {
    display: flex;
    border-bottom: 1px solid var(--white);
    padding-bottom: 61px;

    &-info {
      display: flex;
      margin-top: 72px;
      gap: 80px;
    }

    &-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: 770px;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 0;
      gap: 29px 65px;
    }

    a {
      position: relative;
      color: var(--white);

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 50px;
        width: 100%;
        height: 1.5px;
        background: var(--white);
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__company {
    display: flex;
    flex-direction: column;
  }

  &__company-title {
    margin-bottom: 10px;
    font-weight: 700;
  }

  &__company-text {
    color: var(--white);

    a {
      color: var(--white)
    }
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    padding-bottom: 55px;
    font-weight: 500;
    font-size: clamp(12px, 3vw, 16px);
    line-height: 160%;
    text-transform: uppercase;
    color: #bababa;
    gap: 32px;

    div {
      position: relative;
      right: 0;
      display: flex;
      font-size: 16px;
      font-size: clamp(12px, 3vw, 16px);
      gap: 35px;
    }

    a {
      position: relative;
      color: #bababa;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 50px;
        width: 100%;
        height: 1.5px;
        background: #bababa;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__bottom-copyright {
    flex: 1;
  }
}

@include big-tablet {
  .footer {
    padding-top: 52px;

    &__container {
      margin: 0;
    }

    &__top {
      flex-direction: column;
      padding-bottom: 32px;
      gap: 72px;

      ul {
        padding-left: 0;
        max-width: 80%;
        gap: 29px clamp(0px, 5vw, 65px);
      }

      &-info {
        flex-direction: column;
        margin-top: 71px;
        gap: 20px;
      }
    }

    &__bottom {
      flex-direction: column;
      text-align: center;
      text-transform: none;
      gap: 25px;

      &-copyright {
        text-wrap: nowrap;
      }

      div {
        position: static;
        display: flex;
        justify-content: center;
        gap: 32px;
      }
    }

    &__company {
      gap: 4px;
    }
  }
}
