.hero {
  &__container {
    display: flex;
    padding: 32px 76px;
  }

  &__main {
    display: flex;
    flex: 1 50%;
    flex-direction: column;

    h1 {
      position: relative;
      margin-top: 10px;
      font-weight: 900;

      // font-size: 96px;
      font-size: clamp(48px, 7vw, 96px);
      letter-spacing: -0.03em;
      text-transform: uppercase;
      text-wrap: nowrap;
    }

    p {
      margin-top: 16px;
      font-size: 20px;
      line-height: 170%;
      letter-spacing: 0.01em;
      color: var(--grey---700);
    }
  }

  &__aside {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      position: relative;
      margin-left: 30px;
      padding-top: 15px;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      color: var(--secondary---500);

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        width: 36px;
        height: 36px;
        background-image: url("../../img/hero_aside_icon.svg");
        transform: translateX(15%);
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    li {
      font-weight: 400;
      font-size: 20px;
      line-height: 170%;
      letter-spacing: 0.01em;
      color: var(--grey---700);
    }

    &-more {
      display: flex;
      align-items: center;
      color: var(--primary---500);
      gap: 8px
    }
  }

  &__circle-mob {
    display: none;
  }

}

@include big-tablet {
  .hero {
    &__aside {
      visibility: hidden;
    }

    &__circle-mob {
      display: block;
    }

    &__circle-desk {
      display: none;
    }
  }
}
