.hero {
  &__container {
    display: flex;
    padding: 32px 76px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex: 1 50%;

    h1 {
      font-weight: 900;
      // font-size: 96px;
      font-size: clamp(48px, 7vw, 96px);
      // text-wrap: nowrap;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      margin-top: 10px;
      position: relative;
      max-width: none;
      display: flex;
      flex-direction: column;

      span {
        display: flex;
        align-items: center;
        gap: 30px;
      }
    }

    p {
      font-size: clamp(16px, 2vw, 20px);
      line-height: clamp(160%, 1vw, 170%);
      letter-spacing: 0.01em;
      color: var(--grey---700);
      margin-top: 16px;
    }
  }

  &__aside {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      font-weight: 700;
      font-size: 20px;
      color: var(--secondary---500);
      position: relative;
      margin-left: 30px;
      padding-top: 15px;
      text-align: center;

      &::before {
        content: '';
        height: 36px;
        width: 36px;
        background-image: url(../../img/hero_aside_icon.svg);
        position: absolute;
        left: 0;
        top: 10px;
        transform: translateX(15%);
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    li {
      font-size: 20px;
      line-height: 170%;
      letter-spacing: 0.01em;
      color: var(--grey---700);
      font-weight: 400;
    }

    &-more {
      color: var(--primary---500);
      display: flex;
      align-items: center;
      gap: 8px
    }
  }

  &__circle {
    display: inline-block;
    background-image: url(../../img/hero_circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 96px;
    height: clamp(46px, 8vw, 96px);
    width: 100%;
    width: clamp(123px, 15vw, 218px);
  }
}

h1.hero__text-desk {
  // display: block;
}

h1.hero__text-mob {
  display: none;
  text-wrap: nowrap;
}

@include big-tablet {
  .hero {
    &__container {
      padding: 32px 16px;
    }
    
    &__aside {
      display: none;
    }

    &__main {
      justify-content: center;
      align-items: center;
    }

    &__circle {
      background-image: url(../../img/hero_circle_mob.svg);
    }
  }

  h1.hero__text-desk {
    display: none;
  }

  h1.hero__text-mob {
    display: block;
  }
}
