.heroBottom {
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 32px;

    // height: 424px;
    // background-image: url(../../img/heroBottom_bg.svg);
    // background-repeat: no-repeat;
    width: 100%;
    max-width: 1376px;
  }

  &__bg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    height: 424px;
    background-image: url("../../img/heroBottom_bg.svg");

    // background-size: contain;
    background-repeat: no-repeat;
  }

  &__companies {
    display: flex;
    align-items: center;
    justify-content: center;

    // position: absolute;
    // left: 32px;
    // bottom: 32px;
    margin: 32px;
    border-radius: 100px;
    padding: 4px 36px;
    width: 519px;
    height: 123px;
    color: #fff;
    background: var(--secondary---500);
    gap: 20px;

    h2 {
      font-weight: 700;
      font-size: 96px;
      color: var(--b&w-white);
    }

    p {
      font-weight: 900;
      font-size: 24px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: var(--b&w-white);
    }
  }

  &__quote {
    position: absolute;
    right: 32px;
    bottom: 16px;
    border-radius: 12px;
    padding: 24px 16px;
    width: 356px;

    // height: 354px;
    background: #fff;

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 170%;
      letter-spacing: 0.01em;
      color: var(--b&w---bg-1);
    }

  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--primary---500);
  }
}

@include big-tablet {
  .heroBottom {
    &__container {
      height: auto;
      gap: 16px
    }

    &__bg {
      align-items: center;

      // background-size: 300%;
      border-radius: 16px;
      background-image: url("../../img/heroBottom_bg_mob.svg");
      background-position: 30%, 0;
      background-size: cover;
    }

    &__companies {
      left: 12%;
      top: 329px;
      margin: 25px;
      border-radius: 100px;
      padding: 4px 36px;
      width: 295px;
      height: 68px;

      h2 {
        font-size: 32px;
      }

      p {
        font-weight: 900;
        font-size: 20px;
        line-height: 170%;
        text-wrap: nowrap;
      }
    }

    &__quote{
      position: static;
      width: auto;
      background: var(--primary---100);
    }
  }
}

