.projectsCategory {
  &__container {
    padding: 23px 122px;
  }

  &__desk {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
  }

  &__mob {
    position: relative;
    display: none;
  }

  &__btn {
    position: relative;
    border: 1px solid var(--grey---200);
    border-radius: 50px;
    padding: 17px 20px;
    width: 100%;
    height: 55px;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.01em;
    text-align: start;
    color: var(--grey---500);
    background: var(--grey---100);
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      right: 20px;
      top: 18px;
      width: 16px;
      height: 17px;
      background-image: url("../../img/arrowDropdown.svg");
      background-size: contain;
    }
  }

  &__list {
    position: absolute;
    display: none;
    overflow: hidden;
    border: 1px solid var(--grey---200);
    border-top: none;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 0;
    width: 100%;
    background: var(--grey---100);
  }

  &__item {
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: var(--grey---700);
    cursor: pointer;

    &-mob {
      padding: 12px 17px;
      font-weight: 500;
      font-size: 14px;
      line-height: 157%;
      letter-spacing: 0.01em;
      color: var(--grey---500);
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background: var(--grey---200);
      }
    }
  }

  &__active {
    color: var(--primary---500);
    cursor: auto;
  }

  &__open {
    display: block;

    &-btn {
      border-bottom: none;
      border-radius: 25px 25px 0 0;
    }
  }
}

@include big-tablet {
  .projectsCategory {
    &__container {
      padding: 24px 16px;
    }

    &__desk {
      display: none;
    }

    &__mob {
      display: block;
    }
  }
}
