.projectsCard {
  &__container {
    margin-top: clamp(20px, 5vw, 24px);
  }

  &__title {
    margin-top: clamp(16px, 3vw, 24px);
    font-weight: 900;
    font-size: clamp(24px, 5vw, 48px);
    line-height: 120%;
    letter-spacing: clamp(-0.01em, 4vw, -0.02em);
    text-transform: uppercase;
    color: var(--black-lighter);
  }

  a {
    margin-top: clamp(16px, 3vw, 24px);
  }

  &__text {
    margin-top: 12px;
    font-weight: 700;
    font-size: clamp(12px, 3vw, 20px);
    line-height: 150%;
    color: var(--grey---700);
  }

  &__small {
    img {
      aspect-ratio: 1/2;
    }
  }

  img {
    border-radius: 24px;
    height: 100%;
    height: auto;
    object-fit: cover;
  }
}

@include big-tablet {
  .projectsCard {
    &__text {
      margin-top: clamp(8px, 3vw, 16px);
    }
  }
}
