.testemonials {
  &__container {
    padding: 56px 76px;
    max-height: 667px;
  }

  &__swiper {
    // overflow: hidden;
    width: 100%;
    height: 605px;

    .swiper-pagination {
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    .swiper-wrapper {
      overflow: hidden;
      height: 605px;
    }

    .swiper-pagination-bullet {
      margin: 10px 0;
      width: 12px;
      height: 12px;
      background: #f1f1f1;
      opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
      background: var(--primary---500);
      opacity: 1;
    }

    .swiper-pagination-container-desk {
      position: absolute;
      z-index: 2;
      right: 28px;
      top: 45%;
      transform: translateY(-50%);
    }

    .swiper-button-next-desk,
    .swiper-button-prev-desk {
      position: absolute;
      left: -40px;
      top: -100px;
      width: 44px;
      height: 44px;
      color: #000;
      background-image: url("../../img/arrow.svg");
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }

    .swiper-button-next-desk {
      position: absolute;
      left: -62px;
      top: 100px;
      border-radius: 59px;
      padding: 48px;
      background: var(--primary---500);
      background-image: url("../../img/arrow2.svg");
      background-position: 50%, 10%;
      background-repeat: no-repeat;
      transform: rotate(180deg);
    }

    .swiper-pagination-container-mob {
      display: none;
      flex: 1;
    }

    .swiper-button-prev-mob,
    .swiper-button-next-mob {
      right: 36px;
      top: auto;
      bottom: 125px;
      z-index: 3;
      width: 24px;
      height: 24px;
      background-image: url("../../img/arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(-90deg);
    }

    .swiper-button-prev-mob {
      left: 36px;
    }

    .swiper-button-next-mob {
      transform: rotate(90deg);
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    max-width: 1119px;
    max-height: 605px;

    // max-width: clamp(950px, 1vw, 1119px);
    font-weight: 500;
    font-size: clamp(24px, 3.5vw, 48px);
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--b&w-black-lighter);

    img {
      margin-bottom: clamp(38px, 5vw, 46px);
      width: clamp(42px, 5vw, 56px);
      height: clamp(42px, 5vw, 56px);
    }
  }

  &__author {
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    margin-top: 46px;
    font-weight: 500;
    font-size: clamp(14px, 5vw, 16px);
    line-height: 160%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--grey---700);
    gap: 16px;

    img {
      margin-bottom: 0;
      width: clamp(56px, 5vw, 72px);
      height: clamp(56px, 5vw, 72px);
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    p {
      margin-top: 7px;
    }
  }

  &__name {
    font-size: clamp(16px, 4vw, 24px);
    text-transform: none;
    color: var(--black);
  }
}

@include big-tablet {
  .testemonials {
    &__container {
      padding: clamp(0px, 3.5vw, 51px) 16px 32px;
    }

    &__swiper {
      .swiper-pagination-container {
        display: none;
      }

      .swiper-pagination-container-mob {
        display: block;
      }
    }

    &__text {
      line-height: clamp(158%, 5vw, 140%);
    }

    &__author {
      position: absolute;
      bottom: 32px;
      margin-top: 96px;
      font-weight: 500;
      text-transform: none;

      p {
        margin: 0;
      }
    }

    &__name {
      text-transform: uppercase;
    }
  }

}

