.trustedBy {
  &__title {
    margin-top: 72.5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(16px, 3vw, 24px);
    line-height: clamp(160%, 5vw, 140%);
    text-align: center;
    text-transform: uppercase;
    color: var(--b&w-black-lighter);
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-top: clamp(23px, 5vw, 38px);
    margin-bottom: clamp(54px, 5vw, 56px);
    font-weight: 600;
    font-size: clamp(16px, 4vw, 48px);
    text-transform: uppercase;
    gap: clamp(24px, 4vw, 50px);
    text-wrap: nowrap;

    li {
      user-select: none;
    }

    li:nth-child(odd) {
      color: var(--grey---700);
    }

    li:nth-child(even) {
      color: var(--secondary---500);
    }
  }
}

@include big-tablet {
  .trustedBy {
    &__title {
      margin-top: 91px;
    }
  }
}

