<div class="aboutDesc">
  <div class="container aboutDesc__container">
    <div class="aboutDesc__top">
      <p class="aboutDesc__title">Who we are</p>
      <p class="aboutDesc__text">
        Our journey began with a simple idea: to make the digital world accessible and profitable for businesses of all sizes. Founded in [Year of Establishment], we set out to bridge the gap between creativity and strategy, between technology and human connection.
        <br><br>
        Over the years, we've grown from a small team with big dreams to a dynamic agency that's making waves in the industry.
      </p>

    </div>
    <div class="aboutDesc__bottom">
      <p class="aboutDesc__title">Our principles</p>
      <div class="aboutDesc__grid">
        <div class="aboutDesc__grid-item">
          <p>Creativity unleashed</p>
          <p>We believe in the limitless power of creativity to transform brands and captivate audiences. Our work is a testament to pushing boundaries and thinking beyond the conventional.</p>
        </div>
        <div class="aboutDesc__grid-item">
          <p>Client-Centric Approach</p>
          <p>Your success is our top priority. We listen, we adapt, and we deliver tailored solutions that align with your goals and aspirations.</p>
        </div>
        <div class="aboutDesc__grid-item">
          <p>Transparency and Integrity</p>
          <p>We uphold the highest standards of integrity and transparency in everything we do, ensuring trust and accountability in every client relationship.</p>
        </div>
        <div class="aboutDesc__grid-item">
          <p>Continuous Learning</p>
          <p>In the dynamic world of digital, knowledge is power. We're committed to staying at the forefront of industry trends and technologies, so you can benefit from the latest innovations.</p>
        </div>
      </div>
    </div>
  </div>
</div>
