<div class="aboutTeam">
  <div class="container aboutTeam__container">
    <h2 class="aboutTeam__title">Meet our<br> core team</h2>
    <img src="../img/aboutTeam.png" alt="team" class="aboutTeam__top">
    <div class="aboutTeam__grid">
      <div class="aboutTeam__card">
        <img src="../img/team1.png" alt="member">
        <p class="aboutTeam__name">Peter Robertson</p>
        <p>Chief Operating Officer</p>
      </div>
      <div class="aboutTeam__card">
        <img src="../img/team2.png" alt="member">
        <p class="aboutTeam__name">Courtney Henry</p>
        <p>Generak manager</p>
      </div>
      <div class="aboutTeam__card">
        <img src="../img/team3.png" alt="member">
        <p class="aboutTeam__name">Bessie Cooper</p>
        <p>Chief Software Architect</p>
      </div>
      <div class="aboutTeam__card">
        <img src="../img/team4.png" alt="member">
        <p class="aboutTeam__name">Sara McKinney</p>
        <p>Vice President, Creative & Design</p>
      </div>
      <div class="aboutTeam__card">
        <img src="../img/team5.png" alt="member">
        <p class="aboutTeam__name">Steve Howard</p>
        <p>Creative Project Manager</p>
      </div>
      <div class="aboutTeam__card">
        <img src="../img/team6.png" alt="member">
        <p class="aboutTeam__name">Alvin Russel</p>
        <p>Developer Project Manager</p>
      </div>
      <div class="aboutTeam__card">
        <img src="../img/team7.png" alt="member">
        <p class="aboutTeam__name">Eleanor Pena</p>
        <p>Digital Transform Project Manager</p>
      </div>
      <div class="aboutTeam__card">
        <img src="../img/team8.png" alt="member">
        <p class="aboutTeam__name">Cody Fisher</p>
        <p>Creative Project Manager</p>
      </div>

    </div>
  </div>
</div>
