<div class="blogGrid">
  <div class="container blogGrid__container">
    @include('../partials/blogBig.html', {
      'img': '../img/blog1.png',
      'title': 'Introducing: A brand new Dribbble for you',
      'desc': 'Our suite of services is designed to cater to every aspect of your online presence, from boosting your visibility to engaging your audience and driving conversions.',
      'cat': '2023 - UX/UI & App Development'
    })
    <div class="blogGrid__pair">
      @include('../partials/blogSmall.html', {
        'img': '../img/blog2.png',
        'title': 'Introducing: A brand new Dribbble for you',
        'desc': 'Our suite of services is designed to cater to every aspect of your online presence, from boosting your visibility to engaging your audience and driving conversions.',
        'cat': '2023 - UX/UI & App Development'
      })
      @include('../partials/blogSmall.html', {
        'img': '../img/blog3.png',
        'title': 'Introducing: A brand new Dribbble for you',
        'desc': 'Our suite of services is designed to cater to every aspect of your online presence, from boosting your visibility to engaging your audience and driving conversions.',
        'cat': '2023 - UX/UI & App Development'
      })
    </div>
    @include('../partials/blogBig.html', {
      'img': '../img/blog4.png',
      'title': 'Introducing: A brand new Dribbble for you',
      'desc': 'Our suite of services is designed to cater to every aspect of your online presence, from boosting your visibility to engaging your audience and driving conversions.',
      'cat': '2023 - UX/UI & App Development'
    })
    <div class="blogGrid__pair">
      @include('../partials/blogSmall.html', {
        'img': '../img/blog5.png',
        'title': 'Introducing: A brand new Dribbble for you',
        'desc': 'Our suite of services is designed to cater to every aspect of your online presence, from boosting your visibility to engaging your audience and driving conversions.',
        'cat': '2023 - UX/UI & App Development'
      })
      @include('../partials/blogSmall.html', {
        'img': '../img/blog6.png',
        'title': 'Introducing: A brand new Dribbble for you',
        'desc': 'Our suite of services is designed to cater to every aspect of your online presence, from boosting your visibility to engaging your audience and driving conversions.',
        'cat': '2023 - UX/UI & App Development'
      })
    </div>
    <div class="blogGrid__more">
      <button class="blogGrid__btn">Load more</button>
      <div class="blogGrid__gallery">
        <img src="../img/blog1.png" alt="gallery_img">
        <p>Introducing: A brand new</p>
      </div>
    </div>
  </div>
</div>
