<div class="detailsDesc">
  <div class="container detailsDesc__container">
    <div class="detailsDesc__top">
      <p class="detailsDesc__title">Background</p>
      <p class="detailsDesc__text">Take a look at some of our proudest moments, where creativity, strategy, and innovation came together to make brands shine in the digital realm. Our success stories are a testament to our dedication and expertise.</p>
    </div>
    <div class="detailsDesc__bottom">
      <p class="detailsDesc__title">Design process</p>
      <div class="detailsDesc__items">
        <div class="detailsDesc__item">
          <p class="detailsDesc__sub">Parallax Scrolling</p>
          <p class="detailsDesc__text">Take a look at some of our proudest moments, where creativity, strategy, and innovation came together to make brands shine in the digital realm. Our success stories are a testament to our dedication and expertise.</p>
        </div>
        <div class="detailsDesc__item">
          <p class="detailsDesc__sub">Parallax Scrolling</p>
          <p class="detailsDesc__text">Take a look at some of our proudest moments, where creativity, strategy, and innovation came together to make brands shine in the digital realm. Our success stories are a testament to our dedication and expertise.</p>
        </div>
        <div class="detailsDesc__item">
          <p class="detailsDesc__sub">Parallax Scrolling</p>
          <p class="detailsDesc__text">Take a look at some of our proudest moments, where creativity, strategy, and innovation came together to make brands shine in the digital realm. Our success stories are a testament to our dedication and expertise.</p>
        </div>
      </div>
    </div>
    <div class="detailsDesc__grid">
      <div class="">
        <img src="../img/detailsDesc1.png" alt="desc-img">
        <img src="../img/detailsDesc2.png" alt="desc-img">
      </div>
      <div class="">
        <img src="../img/detailsDesc3.png" alt="desc-img">
        <img src="../img/detailsDesc4.png" alt="desc-img">
      </div>
    </div>
  </div>
</div>
