<div class="detailsComment">
  <div class="container detailsComment__container">
    <div class="testemonials__slide">
      <img src="../img/quote_icon.svg" alt="quote" />
      <p class="testemonials__text">
        PixelMagnet played a crucial role in launching our startup. From
        logo design to content marketing, they covered it all. Their
        creative approach and attention to detail set them apart. We
        wouldn't have achieved our initial success without them.
      </p>
      <div class="testemonials__author">
        <img src="../img/user.png" alt="user">
        <div class="">
          <p class="testemonials__name">Adam Freeman</p>
          <p>Startup owner</p>
        </div>
      </div>
    </div>
  </div>
</div>
