<div class="detailsHero">
  <div class="container detailsHero__container">
    <div class="detailsHero__top">
      <div>
        <p class="detailsHero__sub">Project details</p>
        <h1>Mindmate - AI<br>Chat Web & App</h1>
      </div>
      <p class="detailsHero__text">
        UX/UI & App<br class="detailsHero__br"> Development
        <br>
        2022
      </p>
    </div>
    <img src="../img/detailsHero.png" alt="hero" class="detailsHero__img">
    <div class="detailsHero__bottom">
      <div class="detailsHero__bottom-container">
        <div class="detailsHero__bottom-item">
          <p class="detailsHero__bottom-title">The client</p>
          <p class="detailsHero__bottom-text">Take a look at some of our proudest moments, where creativity, strategy, and innovation came together to make brands shine in the digital realm. Our success stories are a testament to our dedication and expertise.</p>
        </div>
        <div class="detailsHero__bottom-item">
          <p class="detailsHero__bottom-title">Discipline used</p>
          <ul class="detailsHero__bottom-text">
            <li>UX/UI Design</li>
            <li>Micro-animations</li>
            <li>WordPress Development</li>
            <li>Guttenber Block Development</li>
          </ul>
        </div>
        <div class="detailsHero__bottom-item">
          <p class="detailsHero__bottom-title">Project type</p>
          <p class="detailsHero__bottom-text">Ux/UI & App Development</p>
        </div>
      </div>
    </div>
  </div>
</div>
