<div class="detailsWorks">
  <div class="container detailsWorks__container">
    <p class="detailsWorks__title">OTHER WORKS</p>
    <div class="swiper featuredWorks__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          @include('../partials/featuredCard.html', {
            'title': 'Hoomie',
            'text': '2023 - UX/UI & App Development',
            'img': '../img/featured_card_1.svg'
          })
        </div>
        <div class="swiper-slide">
          @include('../partials/featuredCard.html', {
            'title': 'Task.ly',
            'text': '2022 - UX/UI',
            'img': '../img/featured_card_2.svg'
          })
        </div>
        <div class="swiper-slide">
          @include('../partials/featuredCard.html', {
            'title': 'MANIERE',
            'text': '2022 - Web Development',
            'img': '../img/featured_card_1.svg'
          })
        </div>
        <div class="swiper-slide">
          @include('../partials/featuredCard.html', {
            'title': 'Task.ly',
            'text': '2022 - UX/UI',
            'img': '../img/featured_card_2.svg'
          })
        </div>
        <div class="swiper-slide">
          @include('../partials/featuredCard.html', {
            'title': 'Hoomie',
            'text': '2022 - Web Development',
            'img': '../img/featured_card_1.svg'
          })
        </div>
        <div class="swiper-slide">
          @include('../partials/featuredCard.html', {
            'title': 'Task.ly',
            'text': '2022 - UX/UI',
            'img': '../img/featured_card_2.svg'
          })
        </div>
        <div class="swiper-slide">
          @include('../partials/featuredCard.html', {
            'title': 'Hoomie',
            'text': '2022 - Web Development',
            'img': '../img/featured_card_1.svg'
          })
        </div>
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</div>
