<div class="featuredWorks">
  <div class="container featuredWorks__container">
    <div class="featuredWorks__title">
      <p>Featured works</p>
      <span></span>
      <a class="featuredWorks__view" href="#">
        <p>View all</p>
        <img src="../img/arrow_right.svg" alt="arrow">
      </a>
    </div>
    <div class="swiper featuredWorks__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          @include('../partials/featuredCard.html', {
            'title': 'Hoomie',
            'text': '2023 - UX/UI & App Development',
            'img': '../img/featured_card_1.svg'
          })
        </div>
        <div class="swiper-slide">
          @include('../partials/featuredCard.html', {
            'title': 'Task.ly',
            'text': '2022 - UX/UI',
            'img': '../img/featured_card_2.svg'
          })
        </div>
        <div class="swiper-slide">
          @include('../partials/featuredCard.html', {
            'title': 'MANIERE',
            'text': '2022 - Web Development',
            'img': '../img/featured_card_1.svg'
          })
        </div>
        <div class="swiper-slide">
          @include('../partials/featuredCard.html', {
            'title': 'Task.ly',
            'text': '2022 - UX/UI',
            'img': '../img/featured_card_2.svg'
          })
        </div>
        <div class="swiper-slide">
          @include('../partials/featuredCard.html', {
            'title': 'Hoomie',
            'text': '2022 - Web Development',
            'img': '../img/featured_card_1.svg'
          })
        </div>
        <div class="swiper-slide">
          @include('../partials/featuredCard.html', {
            'title': 'Task.ly',
            'text': '2022 - UX/UI',
            'img': '../img/featured_card_2.svg'
          })
        </div>
        <div class="swiper-slide">
          @include('../partials/featuredCard.html', {
            'title': 'Hoomie',
            'text': '2022 - Web Development',
            'img': '../img/featured_card_1.svg'
          })
        </div>
      </div>
      <div class="swiper-scrollbar"></div>

    </div>
  </div>
</div>
