<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <div class="footer__top-container">
        <!-- <img src="" alt="Pixelmagnet"> -->
        <a class="footer__logo" href="#">Pixelmagnet</a>
        <div class="footer__top-info">
          <div class="footer__company">
            <p class="footer__company-title">Jakarta, ID</p>
            <address class="footer__company-text">
              Jl.Jend Soedirman<br>
              blok 1 kav 2. 11220
            </address>
          </div>
          <div class="footer__company">
            <p class="footer__company-title">Contact information</p>
            <p class="footer__company-text">
              <a href="mailto:info@pixelmagnet.com">INFO@PIXELMAGNET.COM</a><br>
              <a href="tel:011-123-456">011-123-456</a>
            </p>
          </div>
        </div>
      </div>
        <ul>
          <li><a href="#">Service</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">X</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Youtube</a></li>
        </ul>
    </div>
    <div class="footer__bottom">
      <p class="footer__bottom-copyright">© 2023 Pixelmagnet.agency <span>ALL RIGHTS RESERVED.</span></p>
      <div>
        <p>Terms of service</p>
        <p>Privacy policy</p>
      </div>
    </div>
  </div>
</footer>
