<div class="formHero">
  <div class="container formHero__container">
    <div class="formHero__top">
      <div class="formHero__title">
        <p class="formHero__sub">GET IN TOUCH</p>
        <h1>Ready to take your digital presence to<br> the next<br> level?<span></span></h1>
      </div>
      <div class="formHero__imgs">
        <img src="../img/services-1.png" alt="hero-imgs">
        <img src="../img/services-2.png" alt="hero-imgs">
        <img src="../img/services-3.png" alt="hero-imgs">
      </div>
    </div>
    <div class="formHero__bottom">
      <p class="formHero__text">Whether you have questions, want to discuss your project, or simply want to say hello, we'd love to hear from you. Contact our team of experts today, and let's start crafting your digital success story.</p>
      <div class="formHero__company-container">
        <div class="formHero__company">
          <p class="formHero__company-title">JAKARTA, id</p>
          <address>Jl.Jend Soedirman<br>
            blok 1 kav 2. 11220</address>
        </div>
        <div class="formHero__company">
          <p class="formHero__company-title">Contact information</p>
          <p>INFO@PIXELMAGNET.COM</p>
          <p>011-123-456</p>
        </div>
      </div>
    </div>
  </div>
</div>
