<div class="formForm">
  <div class="container formForm__container">
    <form action="">
      <div class="formForm__grid">
        <div class="formForm__item">
          <label for="name">Name*</label>
          <input placeholder="Your name" id="name" type="text" class="d-input">
        </div>
        <div class="formForm__item">
          <label for="phone">Phone number</label>
          <!-- <input placeholder="Your name" id="name" type="text" class="d-input"> -->
          <div class="formForm__phone">
            <div class="formForm__phone-dropdown">
              <img class="formForm__phone-flag" src="../img/uk_flag.png" alt="country">
              <img class="formForm__phone-arrow" src="../img/arrowDropdown.svg" alt="dropdown-open">
            </div>
            <ul class="formForm__phone-list">
              <li>
                <img class="formForm__phone-flag" src="../img/uk_flag.png" alt="country">
                EN
              </li>
              <li>
                <img class="formForm__phone-flag" src="../img/ua_flag.svg" alt="country">
                UA
              </li>
              <li>
                <img class="formForm__phone-flag" src="../img/de_flag.svg" alt="country">
                GE
              </li>
            </ul>
            <input placeholder="Your number" type="text" class="formForm__phone-input">
          </div>
        </div>
        <div class="formForm__item">
          <label for="email">Email*</label>
          <input placeholder="Your email" id="email" type="text" class="d-input">
        </div>
        <div class="formForm__item">
          <label for="company">Company*</label>
          <input placeholder="Company name" id="company" type="text" class="d-input">
        </div>
        <div class="formForm__item">
          <label for="website">Website</label>
          <input placeholder="Website link" id="website" type="text" class="d-input">
        </div>
        <div class="formForm__item">
          <label for="category">Category*</label>
          <input placeholder="Category name" id="category" type="text" class="d-input">
        </div>
        <div class="formForm__item">
          <label for="location">Location*</label>
          <input placeholder="Company location" id="location" type="text" class="d-input">
        </div>
        <div class="formForm__item">
          <label for="Budget">Budget*</label>
          <div class="formForm__budget">
            <ul class="formForm__budget-container">
              <div class="formForm__budget-desk">
                <li>
                  <button>$400</button>
                </li>
                <li>
                  <button>$500</button>
                </li>
                <li>
                  <button>$750</button>
                </li>
                <li>
                  <button>$1000</button>
                </li>
              </div>
              <div class="formForm__budget-desk">
                <li>
                  <button>$1500</button>
                </li>
                <li>
                  <button>$2000</button>
                </li>
                <li>
                  <button>$3000+</button>
                </li>
              </div>
              <div class="formForm__budget-mob">
                <div class="">
                  <li>
                    <button>$400</button>
                  </li>
                  <li>
                    <button>$500</button>
                  </li>
                  <li>
                    <button>$750</button>
                  </li>
                </div>
                <div class="">
                  <li>
                    <button>$1000</button>
                  </li>
                  <li>
                    <button>$1500</button>
                  </li>
                </div>
                <div>
                  <li>
                    <button>$2000</button>
                  </li>
                  <li>
                    <button>$3000+</button>
                  </li>
                </div>
              </div>
            </ul>
            <input placeholder="Or type the amount" type="text" class="d-input formForm__budget-input">
          </div>
        </div>
      </div>
      <div class="formForm__item">
        <label for="summary">Summary*</label>
        <textarea placeholder="Briefly tell us about your projects" name="" id="summary"></textarea>
      </div>
      <p class="formForm__privacy">By clicking the submit button you agree to our <a href="#">Privacy Policy</a> terms.</p>
      <button class="formForm__submit">Submit</button>
    </form>

  </div>
</div>
