<header class="header">
  <div class="header__container container">
    <div class="header__logo">
      <a href="index.html">
        Pixelmagnet
      </a>
    </div>
    <nav class="header__nav">
      <ul>
        <li>
          <a class="d-link header__nav-link" href="index.html">Home</a>
        </li>
        <li>
          <a class="d-link header__nav-link" href="aboutPage.html">About us</a>
        </li>
        <li>
          <a class="d-link header__nav-link" href="servicePage.html">Service</a>
        </li>
        <li>
          <a class="d-link header__nav-link" href="projectsPage.html">Projects</a>
        </li>
        <li>
          <a class="d-link header__nav-link" href="blogPage.html">Blog</a>
        </li>
        <li>
          <a href="formPage.html" class="d-btn header__nav-btn">
            <span>
            Let's Talk
            </span>
            <img src="../img/header__arrow.svg" alt="arrow"></a>
        </li>
      </ul>
    </nav>
    <div class="header__burger">
      <div class="header__burger-btn" onclick="openBurger()">
        <span></span>
      </div>
    </div>
  </div>
  <div class="header__burger-menu">
    <ul>
      <li>
        <a class="d-link header__nav-link" href="index.html">Home</a>
      </li>
      <li>
        <a class="d-link header__nav-link" href="aboutPage.html">About us</a>
      </li>
      <li>
        <a class="d-link header__nav-link" href="servicePage.html">Service</a>
      </li>
      <li>
        <a class="d-link header__nav-link" href="projectsPage.html">Projects</a>
      </li>
      <li>
        <a class="d-link header__nav-link" href="blogPage.html">Blog</a>
      </li>
      <li>
        <a href="formPage.html" class="d-btn header__nav-btn">
          <span>
          Let's Talk
          </span>
          <img src="../img/header__arrow.svg" alt="arrow"></a>
      </li>
    </ul>

  </div>
</header>
