<header class="header">
  <div class="header__container container">
    <div class="header__logo">
      <a href="#">
        <img src="../img/logo.svg" alt="logo">
      </a>
    </div>
    <nav class="header__nav">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About us</a>
        </li>
        <li>
          <a href="#">Service</a>
        </li>
        <li>
          <a href="#">Projects</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <button>
            <span>
            Let's Talk
            </span>
            <img src="../img/header__arrow.svg" alt="arrow"></button>
        </li>
      </ul>
    </nav>
    <div class="header__burger">
      <div class="header__burger-btn"></div>
      <div class="header__burger-menu"></div>
    </div>
  </div>
</header>
