<div class="hero">
  <div class="hero__container container">
    <div class="hero__main">
      <h1 class="hero__text-desk">
        <span>Begin your
          <span class="hero__circle"></span>
        </span>
        digital
        odyssey
      </h1>
      <h1 class="hero__text-mob">
        Begin your
        <span>
          digital
          <span class="hero__circle"></span>
        </span>
        odyssey
      </h1>
        <p>We're the explorers of the digital frontier. Join us on
          <!-- <br> -->
          an epic odyssey to discover the uncharted<br>
          territories of online success.</p>
    </div>
    <div class="hero__aside">
      <p class="hero__aside-title">Our service</p>
      <ul>
        <li>
          <a class="hero__link" href="#">Branding</a>
        </li>
        <li>
          <a class="hero__link" href="#">UX/UI Design</a>
        </li>
        <li>
          <a class="hero__link" href="#">App development</a>
        </li>
        <li>
          <a class="hero__link" href="#">Web development</a>
        </li>
        <li>
          <a class="hero__link" href="#">Digital Transformation</a>
        </li>
        <li>
          <a class="hero__aside-more" href="#">Explore more <img src="../img/plus_icon.svg" alt="+"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
