<div class="heroBottom">
  <div class="heroBottom__container container">
    <div class="heroBottom__bg">
      <div class="heroBottom__companies">
        <h2>1200+</h2>
        <p>Companies <br> were helped</p>
    </div>
    </div>
    <div class="heroBottom__quote">
      <img src="../img/quote_icon.svg" alt="quote">
      <p>PixelMagnet has earned its place as a digital marketing frontrunner. Their innovative strategies and creative prowess make them a force to be reckoned with in the industry.</p>
      <p class="heroBottom__name">- Digital Marketing Magazine</p>
    </div>
  </div>
</div>
