<div class="projectsCategory">
  <div class="container projectsCategory__container">
    <ul class="projectsCategory__desk">
      <li class="projectsCategory__item projectsCategory__active">All</li>
      <li class="projectsCategory__item">Branding</li>
      <li class="projectsCategory__item">UX/UI Design</li>
      <li class="projectsCategory__item">App Development</li>
      <li class="projectsCategory__item">Web Development</li>
      <li class="projectsCategory__item">Digital Transformation</li>
    </ul>
    <div class="projectsCategory__mob">
      <button class="projectsCategory__btn" onclick="openList(this)">All</button>
      <div class="projectsCategory__list">
        <ul>
          <li class="projectsCategory__item-mob" onclick="openList(this)">All</li>
          <li class="projectsCategory__item-mob" onclick="openList(this)">Branding</li>
          <li class="projectsCategory__item-mob" onclick="openList(this)">UX/UI Design</li>
          <li class="projectsCategory__item-mob" onclick="openList(this)">App Development</li>
          <li class="projectsCategory__item-mob" onclick="openList(this)">Web Development</li>
          <li class="projectsCategory__item-mob" onclick="openList(this)">Digital Transformation</li>
        </ul>
      </div>
    </div>
  </div>
</div>
