<div class="projectsHero">
  <div class="container projectsHero__container">
    <div class="projectsHero__top">
      <div>
        <p class="projectsHero__sub">Service</p>
        <h1>Projects</h1>
        <p class="projectsHero__num">1200+</p>
      </div>
      <p class="projectsHero__text">Take a look at some of our proudest moments, where creativity, strategy, and innovation came together to make brands shine in the digital realm. Our success stories are a testament to our dedication and expertise.</p>
    </div>
    <div class="projectsHero__grid">
      <img src="../img/projectsHero1.png" alt="hero_img">
      <img src="../img/projectsHero2.png" alt="hero_img">
      <img src="../img/projectsHero3.png" alt="hero_img">
      <img src="../img/projectsHero4.png" alt="hero_img">
      <img src="../img/projectsHero5.png" alt="hero_img">
    </div>
  </div>
</div>
