<div class="projectsGrid">
  <div class="container projectsGrid__container">
    @include('../partials/projectsCard.html', {
      'title': 'Hoomie1',
      'desc': '2023 - UX/UI & App Development',
      'img': '../img/featured_card_1.svg'
    })
    @include('../partials/projectsCard.html', {
      'title': 'Hoomie2',
      'desc': '2023 - UX/UI & App Development',
      'img': '../img/featured_card_1.svg'
    })
    @include('../partials/projectsCard.html', {
      'title': 'Hoomie3',
      'desc': '2023 - UX/UI & App Development',
      'img': '../img/featured_card_1.svg'
    })
    @include('../partials/projectsCard.html', {
      'title': 'Hoomie4',
      'desc': '2023 - UX/UI & App Development',
      'img': '../img/featured_card_1.svg'
    })
    @include('../partials/projectsCard.html', {
      'title': 'Hoomie5',
      'desc': '2023 - UX/UI & App Development',
      'img': '../img/featured_card_1.svg'
    })
    @include('../partials/projectsCard.html', {
      'title': 'Hoomie6',
      'desc': '2023 - UX/UI & App Development',
      'img': '../img/featured_card_1.svg'
    })
    @include('../partials/projectsCard.html', {
      'title': 'Hoomie7',
      'desc': '2023 - UX/UI & App Development',
      'img': '../img/featured_card_1.svg'
    })
    @include('../partials/projectsCard.html', {
      'title': 'Hoomie8',
      'desc': '2023 - UX/UI & App Development',
      'img': '../img/featured_card_1.svg'
    })
    @include('../partials/projectsCard.html', {
      'title': 'Hoomie9',
      'desc': '2023 - UX/UI & App Development',
      'img': '../img/featured_card_1.svg'
    })
  </div>
  <div class="projectsGrid__more">
    <button class="projectsGrid__btn">Load more</button>
    <div class="projectsGrid__gallery">
      <img src="../img/featured_card_1.svg" alt="gallery_img">
      <img src="../img/featured_card_1.svg" alt="gallery_img">
      <img src="../img/featured_card_1.svg" alt="gallery_img">
    </div>

  </div>
</div>
