<div class="projectsGrid">
  <div class="container projectsGrid__container">
    <div class="projectsGrid__desk">
      <div class="projectsGrid__desk-container">
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg'
        })
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg',
          'aspect-ratio': 'aspect-ratio: 1/1.27'
        })
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg',
          'aspect-ratio': 'aspect-ratio: 1.425/1'
        })
      </div>
      <div class="projectsGrid__desk-container">
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg',
          'aspect-ratio': 'aspect-ratio: 1.425/1'
        })
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg'
        })
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg',
          'aspect-ratio': 'aspect-ratio: 1/1.27'
        })
      </div>
      <div class="projectsGrid__desk-container">
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg',
          'aspect-ratio': 'aspect-ratio: 1/1.3'
        })
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg',
          'aspect-ratio': 'aspect-ratio: 1/1.244'
        })
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg',
          'aspect-ratio': 'aspect-ratio: 1.6/1'
        })
      </div>
    </div>
    <div class="projectsGrid__mob">
      <div>
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg'
        })
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg',
          'aspect-ratio': 'aspect-ratio: 1.44/1'
        })
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg',
          'aspect-ratio': 'aspect-ratio: 1/1.25'
        })
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg'
        })
      </div>
      <div>
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg',
          'aspect-ratio': 'aspect-ratio: 1.43/1'
        })
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg',
          'aspect-ratio': 'aspect-ratio: 1/1.25'
        })
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg',
          'aspect-ratio': 'aspect-ratio: 1/1.1'
        })
        @include('../partials/projectsCard.html', {
          'title': 'Hoomie1',
          'desc': '2023 - UX/UI & App Development',
          'img': '../img/featured_card_1.svg',
          'aspect-ratio': 'aspect-ratio: 1.465/1'
        })
      </div>
    </div>
  </div>
  <div class="projectsGrid__more">
    <button class="projectsGrid__btn">Load more</button>
    <div class="projectsGrid__gallery">
      <img src="../img/featured_card_1.svg" alt="gallery_img">
      <img src="../img/featured_card_1.svg" alt="gallery_img">
      <img src="../img/featured_card_1.svg" alt="gallery_img">
    </div>

  </div>
</div>
