<div class="services">
  <div class="services__container container">
    <div class="services__title">
      <p>What we do</p>
      <a class="services__more" href="#">
        Learn more
        <img src="../img/arrow_right.svg" alt="arrow">
      </a>
    </div>
    <div class="services__top">
      <div class="services__imgs">
        <!-- <img id="service-img" src="../img/services-1.png" alt="img-1"> -->
        <img id="service-img" src="../img/services-1.png" alt="img-1">
        <img id="service-img" src="../img/services-2.png" alt="img-2">
        <img id="service-img" src="../img/services-3.png" alt="img-3">
      </div>
      <p id="service-desc">We're not your average marketing agency. We're a bunch of digital<br> nomads on a mission to make your brand shine.</p>
    </div>
    <div class="services__bottom">
      <div class="services__card sc-active" data-service="branding">
        <p>Branding<br>design</p>
      </div>
      <div class="services__card" data-service="uxui">
        <p>UX/UI<br>design</p>
      </div>
      <div class="services__card" data-service="app">
        <p>App<br>development</p>
      </div>
      <div class="services__card" data-service="web">
        <p>Web<br>development</p>
      </div>
      <div class="services__card" data-service="digital">
        <p>Digital<br>transformation</p>
      </div>
      <div class="services__card" data-service="tech">
        <p>Technological<br>advancement</p>
      </div>
    </div>
  </div>
</div>
