<div class="serviceDigital">
  <div class="container serviceDigital__container">
    <div class="serviceDigital__top">
      <div>
        <p class="serviceDigital__sub">Service</p>
        <h2>Digital<br> transformation</h2>
      </div>
      <div class="serviceDigital__grid">
        <p class="serviceDigital__text">Our suite of services is designed to cater to every aspect of your online presence, from boosting your visibility to engaging your audience and driving conversions.</p>
        <ul>
          <li>Logo design</li>
          <li>UX/UI Design </li>
          <li>App Development</li>
          <li>Web Development</li>
          <li>Web Development</li>
          <li>Digital Transformation</li>
        </ul>
      </div>
    </div>
      <div class="swiper featuredWorks__swiper serviceSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            @include('../partials/serviceCard.html', {
              'title': 'Hoomie',
              'text': '2023 - UX/UI & App Development',
              'img': '../img/serviceDigital1.png'
            })
          </div>
          <div class="swiper-slide">
            @include('../partials/serviceCard.html', {
              'title': 'Task.ly',
              'text': '2022 - UX/UI',
              'img': '../img/serviceDigital2.png'
            })
          </div>
          <div class="swiper-slide">
            @include('../partials/serviceCard.html', {
              'title': 'MANIERE',
              'text': '2022 - Web Development',
              'img': '../img/featured_card_1.svg'
            })
          </div>
          <div class="swiper-slide">
            @include('../partials/serviceCard.html', {
              'title': 'Task.ly',
              'text': '2022 - UX/UI',
              'img': '../img/featured_card_2.svg'
            })
          </div>
          <div class="swiper-slide">
            @include('../partials/serviceCard.html', {
              'title': 'Hoomie',
              'text': '2022 - Web Development',
              'img': '../img/featured_card_1.svg'
            })
          </div>
          <div class="swiper-slide">
            @include('../partials/serviceCard.html', {
              'title': 'Task.ly',
              'text': '2022 - UX/UI',
              'img': '../img/featured_card_2.svg'
            })
          </div>
          <div class="swiper-slide">
            @include('../partials/serviceCard.html', {
              'title': 'Hoomie',
              'text': '2022 - Web Development',
              'img': '../img/featured_card_1.svg'
            })
          </div>
        </div>
        <div class="swiper-scrollbar"></div>
      </div>
  </div>
</div>
