<div class="servicesHero">
  <div class="container servicesHero__container">
    <div class="servicesHero__top">
      <div>
        <p class="servicesHero__sub">Service</p>
        <h1>Empower<br class="servicesHero__br"> your brand <span>to shine in</span><br class="servicesHero__br"> <span>the digital realm</span></h1>
      </div>
      <p class="servicesHero__text">Our suite of services is designed to cater to every aspect of your online presence, from boosting your visibility to engaging your audience and driving conversions.</p>
    </div>
    <div class="servicesHero__bottom">
      <div class="servicesHero__projects">
        <div>
          <div>
            <img src="../img/servicesHero1.svg" alt="salesforce">
            <img src="../img/servicesHero2.svg" alt="">
            <img src="../img/servicesHero3.svg" alt="microsoft">
            <img src="../img/servicesHero4.svg" alt="">
          </div>
          <p>1200+</p>
          <p>Projects</p>
        </div>
      </div>
      <div class="servicesHero__grid">
        <img src="../img/servicesHeroGrid1.png" alt="item1">
        <img src="../img/servicesHeroGrid2.png" alt="item2">
        <img src="../img/servicesHeroGrid3.png" alt="item3">
        <img src="../img/servicesHeroGrid4.png" alt="item4">
      </div>
      <ul class="servicesHero__list">
        <li>Branding</li>
        <li>UX/UI Design</li>
        <li>App Development</li>
        <li>Web Development</li>
        <li>Digital Transformation</li>
        <li>Technological Advancement</li>
      </ul>
    </div>
  </div>
</div>
