<div class="testemonials">
  <div class="container testemonials__container">
    <div class="swiper testemonials__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide testemonials__slide">
          <img src="../img/quote_icon.svg" alt="quote" />
          <p class="testemonials__text">
            PixelMagnet played a crucial role in launching our startup. From
            logo design to content marketing, they covered it all. Their
            creative approach and attention to detail set them apart. We
            wouldn't have achieved our initial success without them.
          </p>
          <div class="testemonials__author">
            <img src="../img/user.png" alt="user">
            <div class="">
              <p class="testemonials__name">Adam Freeman</p>
              <p>Startup owner</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide testemonials__slide">
          <img src="../img/quote_icon.svg" alt="quote" />
          <p class="testemonials__text">
            PixelMagnet played a crucial role in launching our startup. From
            logo design to content marketing, they covered it all. Their
            creative approach and attention to detail set them apart. We
            wouldn't have achieved our initial success without them.
          </p>
          <div class="testemonials__author">
            <img src="../img/user.png" alt="user">
            <div class="">
              <p class="testemonials__name">Adam Freeman</p>
              <p>Startup owner</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide testemonials__slide">
          <img src="../img/quote_icon.svg" alt="quote" />
          <p class="testemonials__text">
            PixelMagnet played a crucial role in launching our startup. From
            logo design to content marketing, they covered it all. Their
            creative approach and attention to detail set them apart. We
            wouldn't have achieved our initial success without them.
          </p>
          <div class="testemonials__author">
            <img src="../img/user.png" alt="user">
            <div class="">
              <p class="testemonials__name">Adam Freeman</p>
              <p>Startup owner</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination-container swiper-pagination-container-desk">
        <div class="swiper-pagination swiper-pagination-desk"></div>
        <div class="swiper-button-next swiper-button-next-desk"></div>
        <div class="swiper-button-prev swiper-button-prev-desk"></div>
      </div>
      <div class="swiper-pagination-container swiper-pagination-container-mob">
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next swiper-button-next-mob"></div>
        <div class="swiper-button-prev swiper-button-prev-mob"></div>
      </div>
    </div>

  </div>
</div>
